<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
</head>
<body>
    <header class="bg-primary text-white text-center py-3">
        <div class="container">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/budgets">Manage Budgets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/expenses">Manage Expenses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/savingsGoals">Manage Savings Goals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/bills">Manage Bills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="container my-5">
        <h1>Welcome, <%= user.username %></h1>
        <% if (user.profile_picture) { %>
            <img src="/public/images/<%= user.profile_picture %>" alt="Profile Picture" class="img-thumbnail" width="150" height="150">
        <% } else { %>
            <p>No profile picture uploaded.</p>
        <% } %>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

